doctype html
html(lang='en')
 head
  title Todo
 body
  h1 My Todo List
  p Hello sir, hope you are doing well together with your family. I too am going on well, my family is doing fine as well despite some challenges that came along due to pandemic.
Since March last year when I had the opportunity with hunters, my hope was revived again and I am so grateful for that. Having the skills I am acquiring it's such an honor and thank you for believing in me.
I have been having an idea of starting again a business which I had shared with you and Chege but I have thought of it and decided that I’ll focus on learning, implementing and building real time applications and thereafter I will be okay to start one.
To achieve some of my goals I will have to sacrifice from supporting my family for a while.
My plans for this year are as follows:-
To have a new laptop by the end of March this year.
By March I will be comfortable to work with the server side language i.e node.js.
Learn Vue.
Be able to build from scratch and deploy applications.
Having set these goals I am ready to dedicate myself fully on learning full time. I humbly request for upkeep increment to facilitate the learning journey.
I believe with an upkeep of $273.47, I will be able to afford a conducive place that will facilitate the ease of my learning.
Looking forward to hearing from you soon.
Thanks in advance.



    
